<div class="container-fluid">
    <h1 style="text-align: center;">Registration Form</h1>
    <form #userForm="ngForm">
      <div class="form-group mb-3">
        <label>Name</label>
        <input type="text" required="" class="form-control" #name="ngModel" name="name" [class.is-invalid]="name.invalid && name.touched"  [(ngModel)]="userModel.name" pattern="^[A-Za-z][A-Za-z0-9_]{2,29}$">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>
      <div class="form-group mb-3">
        <label>College</label>
        <input type="text" required="" class="form-control" #college="ngModel" name="college" [class.is-invalid]="college.invalid && college.touched" [(ngModel)]="userModel.college" pattern="^[A-Za-z][A-Za-z0-9_]{2,29}$">
        <small class="text-danger" [class.d-none]="college.valid || college.untouched">College name is required</small>
      </div>

      <div class="form-group mb-3">
        <label>Cgpa</label>
        <input type="tel"  class="form-control" #cgpa="ngModel" name="cgpa" [class.is-invalid]="cgpa.invalid && cgpa.touched" [(ngModel)]="userModel.cgpa" pattern="[0-9]{1}\.[0-9]{1,2}">
        <small class="text-danger" [class.d-none]="cgpa.valid || cgpa.untouched">Enter valid cgpa</small>
      </div>
      
        <div class="mb-3">
          <label>Year of passing:</label>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="userModel.yop" type="radio" name="yop" value="2023">
            <label class="form-check-label">2023</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="userModel.yop" type="radio" name="yop" value="2022">
            <label class="form-check-label">2022</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="userModel.yop" type="radio" name="yop" value="2021">
            <label class="form-check-label">2021</label>
          </div>
        </div>

        <div class="form-group mb-3">
          <label>Select Date</label>
          <input type="date" required="" >
        </div>

      <div class="form-group mb-3">
        <label>Skills: </label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="skill1" name="skills" value="skill">
          <label class="form-check-label" for="inlineCheckbox1">Html</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="skill2" name="skills" value="skill">
          <label class="form-check-label" for="inlineCheckbox2">CSS</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="skill3" name="skills" value="skill">
          <label class="form-check-label" for="inlineCheckbox3">JavaScript</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="skill4" name="skills" value="skill">
          <label class="form-check-label" for="inlineCheckbox4">Angular</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="skill5" name="skills" value="skill">
          <label class="form-check-label" for="inlineCheckbox5">React</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="customFile">Upload Resume</label>
        <input type="file" class="form-control" id="customFile" />
      </div>

      <button [disabled]="!userForm.valid" class="btn btn-primary" type="submit" (click)="register()">Submit Form</button>
    </form>
</div>
    